<div class="container" style="z-index:-1;">
<div class="row user-profile-nav">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="/user/<%= current_user.username %>/Post"> Post </a>
      </li>
      <li class="nav-item">
        <a href="/user/<%= current_user.username %>/Music"> Music </a>
      </li>
      <li class="nav-item">
        <a href="/user/<%= current_user.username %>/Playlists"> Playlists </a>
      </li>
      <li class="nav-item">
          <a href="/user/<%= current_user.username %>/Media"> Media </a>
        </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br><br>
      <% @posts.each do |post| %>
        <div class="panel panel-default">
          <div class="panel-body row">
            <div class="col-sm-1">
              <img src="/VibinLogo.jpg" class="rounded-img" height="50px" width="50px"></img>
            </div>
              <div class="col-sm-11">
                <p class="post-title"><span class="post-owner"></span><span class="post-creation"> - </span></p>
                <p class="post-content" style="color:black;"><%= post.content %></p>
              </div>
                <div class="col-sm-12">
                  <p class="post-links">
                    <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                    <span class="gylphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                    <span class="glyphicon gylphicon-heart g-links" aria-hidden="true"></span>
                    <span class="gylphicon gylphicon-option-horizontal g-links" aria-hidden="true"></span>
                      <a href="">View Comments</a>
                  </p>
                </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>
