<nav class="navbar navbar-expand navbar-dark bg-success" style="position: fixed; width: 100%; min-width:500px; z-index:999; height:50px;">
    <a class="navbar-brand" style="font-size:20px;" href="/home">Vibin Music</a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav pt-1">
            <li class="nav-item">
                <a class="nav-link" href="/explore">Explore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Notifications </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/groupies">Groupies</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="margin-top:-20px;">
              <%= form_tag(search_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search" %>
              <%= submit_tag '', class: "btn btn-sm glyphicon glyphicon-search", style: "width:22px; margin-top:-5px;" %>
              <% end %>
            </li>

            <li class="nav-item dropdown justify-content-end"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" href="/user/<%= current_user.username %>">Profile</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item"><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></a>
          </div>
        </li>
        </ul>
    </div>

</nav>
