<!DOCTYPE html>

<html>
  <head>
    <title>Vibin website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/nav' %>



<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
    <% if current_page?(@url) || current_page?(@url+'/Music') || current_page?(@url+"/Playlists") || current_page?(@url+'/Media') %>
      <div class="row">
        <img src="/VibinLogo.jpg" class="profile-banner1" >
          <img src="/VibinLogo.jpg" class="profile-banner1" >

                   <%= image_tag current_user.avatar.url(:thumb), class: "profile-avatar", style: "border-radius: 15px;" %>

                <p class="user-profile-name" style="line-height: 60%; text-align: center;" ><%= @user.full_name %>  </p>

                <p class="user-profile-username border" style="line-height: 60%">   @<%= @user.username %> </p>
                <p class="user-profile-location" style="line-height: 80%" >     location</p>

              <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
                <div class="favorite-artist">
                  Favorite Artist <br>
                  Currensy
                </div>
                  <div class="favorite-song">
                    Favorite Song <br>
                    JUICE WRLD - LUCID DREAM
                  </div>
                    <div class="followers">
                      Followers <br>
                      <center><button><%= @followers.count %></button></center>
                    </div>
                      <div class="following">
                        Following <br>
                      <center>  <button><%= @follow.count %></button></center>
                      </div>
                        <div class="bio">
                         <h3> <%= @user.email %></h3>
                        </div>

      </div>
      <div class="row">
        <nav class="navbar navbar-expand bg-warning border w-100" style="height:50px; ">
        <div class="navbar-collapse collapse">
              <ul class="navbar-nav pt-1">
                <li class="nav-item ">
                  <a class="nav-link text-success" href="/user/<%= params[:id]%>" > Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-success" href="/user/<%= params[:id]%>/Music"> Music </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-success" href=""> Playlists </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-success" href=""> Media </a>
                </li>

              </ul>
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                            <div class="col-xs-3" style="text-align: right; margin-top: 5px;"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;"><%= link_to 'Edit Profile',edit_user_registration_path %></li></div>
                          <% end %>
              </ul>
        </div>
          </nav>

      </div>
    <% end %>
<% end %>

<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>

  <%= yield %>

</div>
</body>
</html>
